@import url("https://fonts.googleapis.com/css2?family=Inter&family=Plus+Jakarta+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}


.form-box{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-box label{
  font-size: 14px;
  color: #828FA3;
}

.form-box input{
  height: 40px;
  border-radius: 4px;
  border: 1px solid #979797;
  outline: none;
  padding: 0 16px;
  background: transparent;
  font-size: 14px;
}

.form-box input:focus{
  border: 1px solid #635FC7;
}

.form-box input::placeholder{
  color: #828FA3;
}

.form-box textarea{
  border-radius: 4px;
  border: 1px solid #979797;
  outline: none;
  padding: 16px;
  background: transparent;
  font-size: 14px;
}

.form-box textarea:focus{
  border: 1px solid #635FC7;
}

.form-box textarea::placeholder{
  color: #828FA3;
}

.styled_scrollbar::-webkit-scrollbar {
  width: 4px; /* width of the entire scrollbar */
}

.styled_scrollbar::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}

.styled_scrollbar::-webkit-scrollbar-thumb {
  background-color: #828fa3; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid transparent; /* creates padding around scroll thumb */
}

* {
  -webkit-tap-highlight-color: transparent !important;
}

.my_shadow{
  box-shadow: 0rem 1rem 2rem rgba(54, 78, 126, 0.25) !important;
}